#piano{
	width:600px;
	height:100px;
	
}
#singer{
	float:left;
	height:150px;
	width:120px;
}
.fade{
	background-color:#ffe4b5;
	width:600px;
	
}
#result{
}
.title{
	margin-left:30px;
	padding-left:30px;
	width:200px;
	font-size:25px;
	background-color:#ffddff;
}
.subscribe{
	background-color:#ddffff;
	width:600px;
}
.button{
	margin-top:20px;
	margin-left:40px;
	height:50px;
	width:300px;
}
#canvas{
	margin-left:20px;
}
.result_is{
	font-size:20px;
	color:#000000;
}
.result{
	margin-left:40px;
	font-size:20px;
	color:#000000;
}